.errorParagraph {
  color: red;
}

.groupDetailsHeader {
  color: white;
}

.globalChatMessagesDetailsContainer {
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  scrollbar-width: thin;
}
.globalChatDetailsSendMessageDate {
  color: #b3b8bc;
  text-align: center;
  margin-top: 1.5em;
  font-size: 0.75rem;
}

.globalChatMessageDetailsHeader {
  position: sticky;
  top: 0%;
  z-index: 1;
  /* padding: 1em; */
  background-color: #242526;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.globalChatSubHeaderName {
  color: white;
  font-size: 0.85rem;
}

.globalChatDetailsHeaderBottomHr {
  color: #3a3b3c;
  margin-top: 0.5em;
}

.globalChatMessageDetailsFlexedAnchor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.globalChatNoMessagesContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.globalChatNoMessagePara {
  color: #b3b8bc;
}

.globalChatDetailsProfilePicture,
.globalChatDetailsUserProfilePicture,
.globalChatDetailsUserDefaultProfilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.globalChatNameMessageDetails {
  /* text-align: center; */
  margin-bottom: 0.3em;
}

.globalChatNoMessagesPara {
  color: white;
}

.globalChatDetailsUserMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  line-break: anywhere;
  text-align: center;
  margin: 1.5em 0 1em 0;
}

.globalChatDetailsMessageDropDownMenu {
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: flex-end;
  /* outline: 2px solid black; */
}

.globalChatDetailsMessageDropDownImg {
  width: 5px;
  cursor: pointer;
}

.globalChatDetailsSendMessage {
  max-width: 22em;
  /* outline: 2px solid black; */
  padding: 0.5em 1em;
  margin-left: 0.25em;
  border-radius: 1em;
  background-color: #3a3b3c;
  color: white;
}

.globalChatDetailsMessageDropDownButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.globalChatDetailsDropDownMenuButtons {
  position: absolute;
  left: -15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 4em;
}

.dropDownEditMessageForm {
  background-color: #3a3b3c;
  color: white;
  border: 0;
  padding: 0.4rem 0;
}

.dropDownMenuCancelBtn,
.dropDownMenuSaveBtn,
.dropDownMenuEditBtn,
.dropDownMenuDeleteBtn {
  background-color: #3a3b3c;
  color: white;
  border: 0;
  padding: 0.5em;
}

.dropDownMenuCancelBtn:hover,
.dropDownMenuSaveBtn:hover,
.dropDownMenuEditBtn:hover,
.dropDownMenuDeleteBtn:hover {
  cursor: pointer;
}

.dropDownMenuSaveBtn,
.dropDownMenuCancelBtn {
  margin-left: 0.25rem;
}

.globalChatDetailsSendImage {
  max-width: 16rem;
  height: auto;
  margin-bottom: 1em;
}

.globalChatReceiverSendingMessagesContainer {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  line-break: anywhere;
  text-align: center;
  margin: 1.5em 0 1em 0;
  margin-top: 1.5em;
}

.globalChatDetailsUserUsername {
  width: 100%;
  text-align: left;
  margin-left: 5.5em;
  margin-bottom: 0.3em;
  color: #b3b8bc;
  font-size: 0.75rem;
  /* outline: 2px solid white; */
}

.globalChatDetailsReceiverUserMessages {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin: 0em 1em 1em 0;
}

.globalChatMessageDetailsBottomHr {
  /* color: red; */
  /* outline: 2px solid white; */
  color: #3a3b3c;
  margin-bottom: 0.5em;
}

.globalChatDetailsSendMessageOrImageContainer {
  margin-top: auto;
  position: sticky;
  bottom: 0%;
  margin-bottom: 0.1em;
  background-color: #242526;
}

.flexGlobalChatDetailsSendMessageOrImageForm {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.15em 0.15em;
}

.flexGlobalChatDetailsSendMessageOrImageForm > input {
  width: 100%;
  padding: 0.9em 0;
  border-radius: 1.5em;
  border: 0;
  background-color: #242526;
  /* outline: 1px solid white; */
  border: 1px solid #3a3b3c;
  color: white;
}

.globalChatDetailsSendImageContainer,
.globalChatDetailsSendMessageContainer {
  outline: 2px solid #3a3b3c;
  padding: 0.3em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.globalChatDetailsSendImageSvg,
.globalChatDetailsSendMessageSvg {
  width: 30px;
  cursor: pointer;
}

.globalChatDetailsSendImageInput,
.globalChatDetailsSendMessageOrImageButton {
  position: absolute;
  top: 10px;
  left: 4px;
  width: 25px;
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .flexChatDetailsSendMessageOrImageForm {
    margin-right: 0.5em;
  }
}
