.globalChatMessagesDetailsContainer {
  max-height: 96vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scroll-behavior: smooth;
}

.globalChatMessageDetailsHeader {
  position: sticky;
  top: 0%;
  z-index: 1;
  padding: 1em;
  outline: 2px solid black;
}

.globalChatMessageDetailsFlexedAnchor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.globalChatNoMessagesContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.globalChatDetailsUserProfilePicture,
.globalChatDetailsUserDefaultProfilePicture {
  width: 40px;
}

.globalChatNameMessageDetails {
  text-align: center;
  margin-bottom: 0.3em;
}

.globalChatDetailsUserMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  line-break: anywhere;
  text-align: center;
  margin: 1.5em 1em 1em 0;
}

.globalChatDetailsMessageDropDownMenu {
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: flex-end;
  /* outline: 2px solid black; */
}

.globalChatDetailsMessageDropDownImg {
  width: 5px;
}

.globalChatDetailsSendMessage {
  max-width: 22em;
  outline: 2px solid black;
  padding: 0.5em 1em;
  margin-left: 0.25em;
  border-radius: 1em;
}

.globalChatDetailsMessageDropDownButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.globalChatDetailsDropDownMenuButtons {
  position: absolute;
  left: -15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 4em;
}

.globalChatDetailsSendImage {
  max-width: 18em;
  height: auto;
  margin-bottom: 1em;
  position: relative;
}

.globalChatReceiverSendingMessagesContainer {
  margin-top: 1.5em;
}

.globalChatDetailsUserUsername {
  width: 100%;
  text-align: left;
  margin-left: 5em;
  margin-bottom: 0.3em;
}

.globalChatDetailsReceiverUserMessages {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin: 0em 1em 1em 1em;
}

.globalChatDetailsSendMessageOrImageContainer {
  margin-top: auto;
  position: sticky;
  bottom: 0%;
}

.globalChatDetailsSendMessageInput {
  width: 92.5%;
}

.globalChatDetailsSendImageInput,
.globalChatDetailsSendMessageOrImageButton {
  width: 50px;
}
