.fetchUsersHeader {
  /* outline: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.closeSearchForUsersSvg {
  width: 30px;
  cursor: pointer;
}

.searchForUsersInput {
  outline: 2px solid black;
  width: 100%;
}

.flexedNestedLiUsersContainer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userProfilePicture {
  width: 40px;
}
