.fetchUsersContainer {
  /* outline: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeAllUsersSvg {
  width: 30px;
}

.searchForUsersInput {
  outline: 2px solid black;
  width: 100%;
}

.flexedUsersLiContainer {
  display: flex;
  align-items: center;
}

.usersImages {
  width: 40px;
}
