.flexedGroupHeader {
  display: flex;
  gap: 0.5em;
}

.groupsAnchor {
  display: none;
}

.groupsAnchorImg {
  width: 30px;
}

.createGroupHeader {
  font-size: 1.5rem;
}

.createGroupHeader,
.flexedGroupProfilePara {
  color: white;
}

.createGroupHeaderBottomHr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #3a3b3c;
}

.flexedGroupProfileAndChangeBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.changeGroupImageLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid black;
  padding: 0.5em 0.6em;
  gap: 0.2rem;
  background-color: white;
  border-radius: 5px;
  position: relative;
  font-size: 0.95rem;
  cursor: pointer;
}

.changeGroupImageLabel:hover {
  cursor: pointer;
}

.changeGroupImage {
  width: 15px;
}

.changeGroupImageInput {
  opacity: 0;
  width: 90px;
  position: absolute;
  cursor: pointer;
  /* left: 0; */
  /* background-color: aqua; */
}

.groupPreviewImgContainer {
  /* outline: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.groupPreviewImgFlexedWrapper {
  outline: 2px solid black;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.groupPreviewImg {
  width: 60px;
  height: 60px;
  /* outline: 2px solid black; */
  border-radius: 50%;
}

.groupPreviewBottomHr {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #3a3b3c;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
}

.formGroupContent > label {
  color: #b3b8bc;
  margin-bottom: 0.25rem;
}

.formGroupContent > input {
  padding: 0.4rem 0;
  background-color: #3a3b3c;
  color: white;
  border: 0;
}

.formGroupContent {
  display: flex;
  flex-direction: column;
}

.error {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: red;
}

.createGroupButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  /* padding: 0.5em 0.6em; */
}

.createGroupButton {
  padding: 0.5em 0.9em;
  transition: opacity 0.5s ease-in-out;
  font-size: 0.85rem;
}

.createGroupButton:hover {
  cursor: pointer;
  opacity: 0.75;
}

.ulDropDownGroupUserMembers {
  position: relative;
  top: -3px;
}

.flexedLiDropDownUsersContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: #3e4042;
  color: white;
  cursor: pointer;
}

.flexedLiDropDownUsersContainer:hover {
  background-color: #2d2e30;
}

.dropDownUserMemberImg {
  width: 40px;
}

.flexedLiDropDownSelectedUserContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.userFirstAndLastName {
  text-transform: capitalize;
}

.userFirstAndLastName {
  color: white;
}

.userUsername {
  color: #b3b8bc;
  font-size: 0.75rem;
}

@media screen and (max-width: 630px) {
  .groupsAnchor {
    display: block;
  }
}
