.chatMessagesDetailsContainer {
  max-height: 96vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* outline: 2px solid black; */
  scroll-behavior: smooth;
}

.chatMessageDetailsHeader {
  position: sticky;
  top: 0%;
  z-index: 1;
  /* background-color: black; */
  outline: 2px solid black;
  padding: 1em;
}

.chatMessageDetailsFlexedAnchor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chatDetailsUserProfilePicture,
.chatDetailsUserDefaultProfilePicture {
  width: 40px;
}

.chatMessageDetailsUserFirstAndLastName {
  text-align: center;
  margin-bottom: 0.3em;
}

.chatNoMessagesContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.chatDetailsUserMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  line-break: anywhere;
  text-align: center;
  margin: 1.5em 1em 1em 0;
}

.chatDetailsMessageDropDownMenu {
  display: flex;
  gap: 1rem;
  position: relative;
  justify-content: flex-end;
}

.chatDetailsMessageDropDownImg {
  width: 5px;
}

.chatDetailsSendMessage {
  max-width: 22em;
  outline: 2px solid black;
  padding: 0.5em 1em;
  margin-left: 0.25em;
  border-radius: 1em;
}

.chatDetailsMessageDropDownButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatDetailsDropDownMenuButtons {
  position: absolute;
  left: -15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 4em;
}

.chatDetailsSendImage {
  max-width: 18em;
  height: auto;
  margin-bottom: 1em;
}

.chatReceiverSendingMessagesContainer {
  margin-top: 1.5em;
}

.chatDetailsUserUsername {
  width: 100%;
  text-align: left;
  margin-left: 5em;
  margin-bottom: 0.3em;
  /* outline: 2px solid black; */
}

.chatDetailsReceiverUserMessages {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin: 0em 1em 1em 1em;
}

.chatDetailsSendMessageOrImageContainer {
  margin-top: auto;
  position: sticky;
  bottom: 0%;

  outline: 2px solid black;
}

.chatDetailsSendMessageInput {
  width: 92.5%;
}

.chatDetailsSendImageInput,
.chatDetailsSendMessageOrImageButton {
  width: 50px;
}
