.sectionWrapper {
  height: 400px;
}

header {
  display: flex;
  justify-content: space-between;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 0.5rem;
}

.formGroupContent {
  display: flex;
  flex-direction: column;
}

.error {
  margin-top: -0.3rem;
  font-size: 0.8rem;
  color: crimson;
}
