.chatMessagesDetailsContainer {
  max-height: 93vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chatMessageDetailsHeader {
  position: sticky;
  top: 0%;
}

.chatMessageDetailsTopHr {
  width: 72.5%;
  position: fixed;
  top: 7%;
}

.chatNoMessagesContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.chatMessageDetailsFlexedAnchor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chatDetailsUserProfilePicture {
  width: 40px;
}

.chatMessageDetailsUserFirstAndLastName {
  text-align: center;
  margin-bottom: 0.3em;
}

.chatDetailsUserMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  line-break: anywhere;
  text-align: center;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.chatDetailsMessageDropDownMenu {
  display: flex;
  gap: 1rem;
  position: relative;
}

.chatDetailsMessageDropDownImg {
  width: 5px;
}

.chatDetailsSendMessage {
  max-width: 22em;
  outline: 2px solid black;
  padding: 0.5em;
  margin-left: 0.25em;
}

.chatDetailsDropDownMenuButtons {
  position: absolute;
  bottom: -35px;
  left: -10px;
}

.chatDetailsUserUsername {
  width: 13%;
  text-align: center;
  margin-bottom: 0.3em;
}

.chatDetailsReceiverUserMessages {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.chatDetailsSendImage {
  max-width: 22rem;
}

.chatDetailsUserDefaultProfilePicture {
  width: 40px;
}

.chatMessageDetailsBottomHr {
  width: 72.5%;
  position: fixed;
  bottom: 9%;
}

.chatDetailsSendMessageOrImageContainer {
  margin-top: auto;
  position: sticky;
  bottom: 0%;
}

.chatDetailsSendMessageInput {
  width: 100%;
}

.chatDetailsSendImageInput,
.chatDetailsSendMessageOrImageButton {
  width: 50px;
}
