.sectionWrapper {
  height: 400px;
}

.sectionWrapperHeader {
  color: white;
  font-size: 1.5rem;
}

.userProfileAnchor {
  display: none;
}

.useProfileAnchorImg {
  width: 30px;
}

.sectionWrapperTopHr {
  color: #3a3b3c;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: none;
}

.sectionWrapperHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.sectionWrapperSaveBtn {
  padding: 0.6em 0.9em;
  transition: opacity 0.5s ease-in-out;
  border-radius: 0.3rem;
  border: 0;
}

.sectionWrapperSaveBtn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.sectionWrapperBottomHr {
  color: #3a3b3c;
  margin-top: 0.5em;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 0.5rem;
}

.formGroupContent {
  display: flex;
  flex-direction: column;
}

.formGroupContent > label {
  color: #b3b8bc;
  margin-bottom: 0.25rem;
}

.formGroupContent input {
  padding: 0.4rem 0;
  background-color: #3a3b3c;
  color: #b3b8bc;
  border: 0;
}

.error {
  margin-top: -0.3rem;
  font-size: 0.8rem;
  color: crimson;
}

@media screen and (max-width: 630px) {
  .userProfileAnchor {
    display: block;
  }

  .sectionWrapperTopHr {
    display: block;
  }
}
