.flexedUserNav {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.goBackArrowSvg {
  width: 25px;
}

.userProfileHeader,
.manageProfileHeader {
  color: white;
}

.ulFlexedLiContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.liFlexedContent {
  /* outline: 2px solid black; */
  padding: 0.5rem;
  transition: background-color 0.5s ease-in-out;
  /* outline: 2px solid red; */
}

.liFlexedContent:hover {
  cursor: pointer;
  background-color: #393a3b;
}

.liFlexedContent a {
  display: flex;
  color: white;
}

.liFlexedContent a:visited {
  color: white;
}
