.userBgContainer {
  max-width: inherit;
  position: relative;
}

.userBgImg {
  width: 100%;
  object-fit: cover;
  height: 16rem;
  border-radius: 0.35em;
}

.userProfileContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 2px solid black; */
  width: 125px;
  height: 125px;
  border-radius: 50%;
  bottom: -10px;
  left: 20px;
  background-color: gray;
}

.userProfileImg {
  width: 50px;
}

.updatedUserProfileImg {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.changeBgImgContainer {
  /* outline: 2px solid black; */
  position: absolute;
  bottom: 25px;
  right: 30px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.changeBgImgForm {
  /* outline: 2px solid black; */
  width: 50px;
  height: 50px;
  position: absolute;
}

.changeBgImgInput {
  position: absolute;
  bottom: 10px;
  right: 10px;
  /* outline: 2px solid black; */
  opacity: 0;
  cursor: pointer;
  width: 30px;
}

.changeBgImgBtn {
  position: absolute;
  bottom: -12px;
  right: 2px;
  padding: 0.15em 0.5em;
}

.changeBgImgInput:hover {
  overflow: hidden;
}

.changeBgImgBtn:hover {
  cursor: pointer;
}

.changeBgImg {
  width: 25px;
}

.userPresenceStatus {
  outline: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 115px;
  bottom: 0px;
}

.userCredentials {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0.8rem;
  margin-top: 0.5em;
}

.userFirstAndLastName {
  font-size: 1.25em;
  text-transform: capitalize;
  margin-bottom: 0.15em;
}

.userFirstAndLastName,
.userUsername {
  color: white;
}

.usersBioParagraph {
  margin-top: 1rem;
  /* outline: 2px solid black; */
  overflow-wrap: anywhere;
  max-width: 50%;
  padding: 0.8rem;
  color: white;
}

.sendMessageBtn {
  padding: 0.7em 1em;
  transition: opacity 1s ease-in-out;
}

.sendMessageBtn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.editProfileAnchor,
.updatePasswordsAnchor {
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  background-color: white;
  color: #232a3d;
  font-size: 0.95rem;
}

.updatePasswordsAnchor {
  display: none;
}

@media screen and (max-width: 760px) {
  .userCredentials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
  }

  .changeBgImgContainer {
    position: absolute;
    right: 10px;
  }
}

@media screen and (max-width: 640px) {
  .updatePasswordsAnchor {
    display: block;
  }

  .ulProfileAndPasswordsAnchorContainer {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

@media screen and (max-width: 400px) {
  .editProfileAnchor,
  .updatePasswordsAnchor {
    padding: 0.5rem 0.6rem;
    border-radius: 0.3rem;
    background-color: white;
  }

  .ulProfileAndPasswordsAnchorContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
}
