.flexedChatHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexedNestedLiUserContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.openSearchForAUserSvg {
  width: 40px;
  cursor: pointer;
}

.usersProfilePicture {
  width: 50px;
}
